/* здесь используйте глобальные селекторы img, body, html и так далее */

:root {
  --white: #ffffff;
  --grey-basic: #bdbdbd;
  --grey-middle: #e2e2e2;
  --grey-light: #f8f8f8;
  --text-basic: #333333;
  --accent-dark: #593cac;
  --accent-primary: #7859cf;
  --accent-middle: #9070ec;
  --accent-light: #f0ebff;
  --accent-opacity: rgba(120, 89, 207, 0.25);
  --slider-flat-white: #f3ebe1;
  --slider-lavender: #eae6fc;
  --slider-espresso: #e5e6e8;
}

html {
  height: 100%;
}

body {
  min-width: 320px;
  font-family: $primary-font;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-basic);

  @media #{$tablet-width} {
    font-size: 20px;
    line-height: 32px;
  }
}
