// Fonts

$primary-font: "Montserrat", "Arial", sans-serif;

// Colors

$white: #ffffff;
$grey-basic: #bdbdbd;
$grey-middle: #e2e2e2;
$grey-light: #f8f8f8;
$text-basic: #333333;
$accent-dark: #593cac;
$accent-primary: #7859cf;
$accent-middle: #9070ec;
$accent-light: #f0ebff;
$accent-opacity: rgba(120, 89, 207, 0.25);
$slider-flat-white: #f3ebe1;
$slider-lavender: #eae6fc;
$slider-espresso: #e5e6e8;

// Breakpoint

$breakpoint-desktop: 1440px;
$breakpoint-tablet: 768px;
$breakpoint-gap: 0.02px;

// Viewports

$mobile-only: "(max-width: #{$breakpoint-tablet - $breakpoint-gap})";
$tablet-width: "(min-width: #{$breakpoint-tablet})";
$tablet-only: "(min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - $breakpoint-gap})";
$desktop-width: "(min-width: #{$breakpoint-desktop})";


// Adaptive sizes

$max-content-width: 1440px;
$mobile-side: 20px;
$desktop-side: 40px;
