.button {
  box-sizing: border-box;
  display: inline-block;
  padding: 8px 20px;
  font-family: $primary-font;
  font-size: 16px;
  line-height: 24px;
  color: $white;
  text-align: center;
  text-decoration: none;
  border: none;
  background-color: $accent-primary;
  border-radius: 4px;
  cursor: pointer;

  &:focus-visible,
  &:hover {
    background-color: $accent-middle;
    color: $white;
  }

  &:active {
    background-color: $accent-dark;
    color: $white;
  }

  &:disabled {
    background-color: $grey-basic;
    color: $white;
    pointer-events: none;
  }
}

.button--disabled {
  background-color: $grey-basic;
  pointer-events: none;
}

.button--secondary {
  color: $accent-primary;
  background-color: $white;
}

.button--with-icon {
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: center;
  gap: 6px;

  &::before {
    grid-area: 1 / 1 / 2 / 2;
    content: "";
    width: 20px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 20px 16px;
    background-position: center;
  }
}
