.button {
  box-sizing: border-box;
  display: inline-block;
  padding: 8px 20px;
  font-family: $primary-font;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
  text-align: center;
  text-decoration: none;
  border: none;
  background-color: var(--accent-primary);
  border-radius: 4px;
  cursor: pointer;

  &:focus-visible,
  &:hover {
    background-color: var(--accent-middle);
    color: var(--white);
  }

  &:active {
    background-color: var(--accent-dark);
    color: var(--white);
  }

  &:disabled {
    background-color: var(--grey-basic);
    color: var(--white);
    pointer-events: none;
  }
}

.button--disabled {
  background-color: var(--grey-basic);
  pointer-events: none;
}

.button--secondary {
  color: var(--accent-primary);
  background-color: var(--white);
}

.button--with-icon {
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: center;
  gap: 6px;

  &::before {
    grid-area: 1 / 1 / 2 / 2;
    content: "";
    width: 20px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 20px 16px;
    background-position: center;
  }
}


