.card {
  display: flex;
  flex-direction: column;
  font-family: $primary-font;
  max-width: 350px;
  padding: 40px 20px 20px;
  color: var(--text-basic);
  background-color: var(--white);
  border-radius: 4px;

  @media #{$tablet-width} {
    padding: 50px 30px 30px;
  }

  &:focus-within,
  &:hover {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  }
}

.card__image-wrapper {
  display: block;
  margin-bottom: 24px;

  @media #{$tablet-width} {
    margin-bottom: 30px;
  }

  &:focus-visible,
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.card__image {
  display: block;
  margin: 0 auto;
}

.card__content {
  flex-grow: 1;
}

.card__title {
  display: block;
  margin: 0 0 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-decoration: none;
  color: var(--text-basic);

  @media #{$tablet-width} {
    margin: 0 0 10px;
    font-size: 24px;
    line-height: 36px;
  }

  &:focus-visible,
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.card__text {
  margin: 0 0 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  @media #{$tablet-width} {
    margin: 0 0 20px;
  }
}

.card__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.card__button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

.card__button {
  font-size: 14px;
  line-height: 20px;
}

.card__button::before {
  background-image: url("../../icons/stack.svg#card");
}
