.catalog {
  background-color: $grey-light;
}

.catalog__wrapper {
  padding: 50px $mobile-side 44px;
  max-width: $max-content-width;
  margin: 0 auto;

  @media #{$tablet-width} {
    padding: 80px $mobile-side 90px;
  }

  @media #{$desktop-width} {
    padding: 100px $desktop-side 120px;
  }
}

.catalog__filter {
  margin: 0 0 40px;

  @media #{$desktop-width} {
    margin: 4px 0 0;
  }
}

.catalog__info {
  margin-bottom: 4px;
  text-align: center;
}

.catalog__title {
  margin-bottom: 20px;
  text-align: center;

  @media #{$desktop-width} {
    margin-bottom: 36px;
  }
}

.catalog__container {
  @media #{$desktop-width} {
    display: grid;
    grid-template-columns: 318px 1fr;
    gap: 30px;
  }
}

.catalog__select {
  margin-bottom: 16px;

  @media #{$tablet-width} {
    margin-bottom: 26px;
  }
}

.catalog__list {
  display: grid;
  gap: 20px;
  margin: 0 0 40px;
  padding: 0;
  list-style-type: none;

  @media #{$tablet-only} {
    justify-content: center;
    max-width: 870px;
    margin: 0 auto 70px;
  }

  @media #{$tablet-width} {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  @media #{$desktop-width} {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 0 60px;
  }
}

.catalog__item {
  @media #{$mobile-only} {
    margin: 0 auto;
  }
}
