.catalog {
  background-color: var(--grey-light);
}

.catalog__wrapper {
  padding: 50px $mobile-side 44px;
  max-width: $max-content-width;
  margin: 0 auto;

  @media #{$tablet-width} {
    padding: 80px $mobile-side 90px;
  }

  @media #{$desktop-width} {
    padding: 100px $desktop-side 120px;
  }
}

.catalog__info {
  margin-bottom: 4px;
  text-align: center;
}

.catalog__title {
  margin-bottom: 20px;
  text-align: center;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
