.catalog-nav__list {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: $white;

  @media #{$mobile-only} {
    border-bottom: 1px solid #{$accent-light};
    z-index: 5;
  }

  @media #{$tablet-width} {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  @media #{$desktop-width} {
    gap: 20px;
  }
}

.catalog-nav__item {
  @media #{$mobile-only} {
    box-sizing: border-box;
    border-top: 1px solid #{$accent-light};
  }
}

.catalog-nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  padding: 20px;
  font-family: $primary-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $text-basic;
  text-decoration: none;

  @media #{$tablet-width} {
    padding: 32px 20px 30px;
  }

  &:focus-visible,
  &:hover {
    color: $accent-primary;
  }

  &:active {
    color: $accent-primary;
    background-color: $accent-light;
  }
}

.catalog-nav__link--current {
  @media #{$tablet-width} {
    color: $accent-primary;
    border-bottom: 2px solid #{$accent-primary};
  }
}
