.control__label {
  --external-width: 24px;
  --external-height: 24px;
  --inner-size: 16px;
  --external-border: 2px solid var(--grey-basic);
  --external-bg: var(--white);
  --inner-bg: var(--accent-primary);
  --inner-display: none;
  --label-color: var(--text-basic);

  box-sizing: border-box;
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 10px;
  align-items: start;
  position: relative;
  // min-height: 30px;
  font-family: $primary-font;
  font-size: 16px;
  line-height: 24px;
  color: var(--label-color);
  cursor: pointer;

  &::before {
    box-sizing: border-box;
    grid-area: 1 / 1 / 2 / 2;
    content: "";
    width: var(--external-width);
    height: var(--external-height);
    background-color: var(--external-bg);
    border: var(--external-border);
    border-radius: 50%;
    transition: background-color 0.3s;
  }

  &::after {
    display: var(--inner-display);
    grid-area: 1 / 1 / 2 / 2;
    content: "";
    width: var(--inner-size);
    height: var(--inner-size);
    background-color: var(--inner-bg);
    border-radius: 50%;
    transform: translate(4px, 4px);
    }
}

.control__label--toggle {
  --external-width: 42px;
  --inner-size: 20px;
  --external-border: 2px solid var(--grey-basic);
  --external-bg: var(--grey-basic);
  --inner-bg: var(--white);
  --inner-display: block;

  grid-template-columns: 42px 1fr;

  &::before {
    border-radius: 80px;
  }

  &::after {
    width: var(--inner-size);
    height: var(--inner-size);
    transform: translate(2px, 2px);
    transition: transform 0.3s;
  }
}

.control__input:focus ~ .control__label,
.control__input:hover ~ .control__label,
.control__input:active ~ .control__label {
  --external-border: 2px solid var(--accent-primary);
  --inner-bg: var(--accent-opacity);
  --inner-display: block;
}

.control__input:checked ~ .control__label {
  --inner-display: block;
  --external-border: 2px solid var(--accent-primary);
  --inner-bg: var(--accent-primary);
}

.control__input:disabled ~ .control__label {
  --external-border: 2px solid var(--grey-middle);
  --external-bg: transparent;
  --inner-bg: var(--grey-middle);
  --label-color: var(--grey-basic);
}

.control__input:focus ~ .control__label--toggle,
.control__input:hover ~ .control__label--toggle,
.control__input:active ~ .control__label--toggle {
  --external-border: 2px solid var(--accent-primary);
  --external-bg: var(--accent-opacity);
  --inner-bg: var(--white);
  --inner-display: block;
}

.control__input:checked ~ .control__label--toggle {
  --external-border: 2px solid var(--accent-primary);
  --external-bg: var(--accent-primary);
  --inner-bg: var(--white);
}

.control__input:checked ~ .control__label--toggle::after {
  transform: translate(20px, 2px);
}

.control__input:disabled ~ .control__label--toggle {
  --external-border: 2px solid var(--grey-middle);
  --external-bg: var(--grey-middle);
  --inner-bg: var(--grey-light);
  --label-color: var(--grey-basic);
}

.control__input:checked:disabled ~ .control__label--toggle {
  --inner-bg: 2px solid var(--grey-basic);
}

























// .control__input:checked + .control__label::after {
//   display: block;
// }

// .control__input:focus + .control__label::before {
//   outline: 2px solid #444444;
// }

// .control__input:hover + .control__label::before {
//   border: 1px solid #bababa;
// }

// .control__input:active + .control__label::before {
//   opacity: 0.5;
// }

// .control__input:disabled + .control__label::before {
//   pointer-events: none;
//   opacity: 0.3;
// }
