.footer {
  --border-bottom: 1px solid #{$accent-light};
}

.footer__wrapper {
  padding: 20px 0 30px;

  @media #{$tablet-width} {
    padding: 40px $mobile-side;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  @media #{$desktop-width} {
    grid-template-columns: repeat(4, 1fr);
    padding: 40px $desktop-side;
    max-width: $max-content-width;
    margin: 0 auto;
    gap: 20px 30px;
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 0 $mobile-side 20px;

  @media #{$mobile-only} {
    border-bottom: var(--border-bottom);
  }

  @media #{$tablet-width} {
    grid-column: 1 / -1;
    padding: 0;
  }

  @media #{$desktop-width} {
    grid-column: 1 / 2;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
  }
}

.footer__logo {
  display: block;
  flex-shrink: 0;

  @media #{$desktop-width} {
    margin-bottom: 10px;
  }
}

.footer__logo-text {
  display: none;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $text-basic;

  @media #{$desktop-width} {
    display: block;
    margin-bottom: 50px;
  }
}

.footer__section {
  padding: 20px $mobile-side;
  line-height: 16px;

  @media #{$mobile-only} {
    border-bottom: var(--border-bottom);
  }

  @media #{$tablet-width} {
    padding: 0;
  }

  @media #{$desktop-width} {
    padding: 9px 0 0;
  }
}

.footer__section--contacts {
  @media #{$mobile-only} {
    padding: 20px $mobile-side 16px;
  }
}

.footer__subtitle {
  margin: 0 0 12px;
  font-family: $primary-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: $accent-primary;
}

.footer__section--contacts .footer__subtitle {
  @media #{$mobile-only} {
    margin: 0 0 8px;
  }
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__item:not(:last-child) {
  padding: 0;
  margin: 0 0 4px;
}

.footer__link {
  display: inline-block;
  padding: 8px 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-decoration: none;
  color: $text-basic;
  transition: color 0.3s;

  &:focus-visible,
  &:hover {
    color: $accent-middle;
  }

  &:active {
    color: $accent-dark;
  }
}

.footer__address {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 16px;
}

.footer__contact {
  margin: 0;
  padding: 4px 0 4px 19px;
  font-family: $primary-font;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: $text-basic;
  text-decoration: none;
  background-position: left 0 top 6px;
  background-repeat: no-repeat;
  background-size: 13px 16px;
}

.footer__contact--address {
  background-image: url("../../icons/stack.svg#address");
  margin-bottom: 4px;
}

.footer__contact--phone {
  background-image: url("../../icons/stack.svg#phone");
  transition: color 0.3s;

  &:focus-visible,
  &:hover {
    color: $accent-middle;
  }

  &:active {
    color: $accent-dark;
  }
}

.footer__htmlacademy {
  padding: 20px $mobile-side 0;

  @media #{$tablet-width} {
    grid-column: 1 / -1;
    padding: 0;
  }
}
