.header {
  background-color: $white;
  color: $text-basic;
  min-height: 60px;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  max-width: $max-content-width;
  margin: 0 auto;
  padding: 0 0 0 $mobile-side;

  @media #{$tablet-width} {
    padding: 0 $mobile-side;
    gap: 20px;
  }

  @media #{$desktop-width} {
    padding: 0 $desktop-side;
    gap: 40px;
  }
}

.header__logo-wrapper {
  @media #{$desktop-width} {
    display: flex;
    gap: 20px;
  }
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  width: 32px;
  height: 36px;

  @media #{$tablet-only} {
    width: 82px;
    padding: 22px 7px 22px 0;
  }

  @media #{$desktop-width} {
    width: 170px;
    padding: 22px 0;
  }
}

.header__logo-text {
  display: none;

  @media #{$desktop-width} {
    margin: 0;
    padding: 24px 0;
    display: block;
    width: 135px;
    font-size: 12px;
    line-height: 16px;
  }
}

.header__user-nav {
  @media #{$tablet-width} {
    min-width: 120px;
  }

  @media #{$desktop-width} {
    min-width: 270px;
  }
}

.header__catalog-nav {
  transform-origin: top;
  transition: transform 0.3s, opacity 0.1s;
  z-index: 10;

  @media #{$mobile-only} {
    position: absolute;
    top: 61px;
    left: 0;
    width: 100%;
    min-width: 320px;
  }

  @media #{$tablet-width} {
    min-width: 400px;
  }
}

.header--mobile-menu-opened .user-nav__toggle-icon {
  background-color: rgba(255, 255, 255, 0);
}

.header--mobile-menu-opened .user-nav__toggle-icon::before {
  bottom: 0;
  transform: rotate(45deg);
}

.header--mobile-menu-opened .user-nav__toggle-icon::after {
  top: 0;
  transform: rotate(-45deg);
}

.header--mobile-menu-closed .header__catalog-nav {
  @media #{$mobile-only} {
    transform: scaleY(0);
    opacity: 0.7;
  }
}

.header--mobile-menu-opened .header__catalog-nav {
  @media #{$mobile-only} {
    transform: scale(1);
    opacity: 1;
  }
}

.header__catalog-item {
  transition: opacity 0.3s;

  @media #{$mobile-only} {
    opacity: 1;
  }
}

.header--mobile-menu-opened .header__catalog-item {
  opacity: 1;
}
