.header {
  --mobile-menu-icon: url("../../icons/burger.svg");

  background-color: var(--white);
  color: var(--text-basic);
  padding: 0 0 0 $mobile-side;
  min-height: 60px;

  @media #{$tablet-width} {
    padding: 0 $mobile-side;
  }

  @media #{$desktop-width} {
    padding: 0 $desktop-side;
  }
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.header__logo-wrapper {
  @media #{$desktop-width} {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.header__logo {
  @media #{$tablet-only} {
    padding-right: 7px;
  }
}

.header__logo-text {
  display: none;

  @media #{$desktop-width} {
    display: block;
    min-width: 135px;
    font-size: 12px;
    line-height: 16px;
  }
}

.header__user-nav {
  @media #{$tablet-width} {
    min-width: 120px;
  }

  @media #{$desktop-width} {
    min-width: 270px;
  }
}

.header__catalog-nav {
  @media #{$tablet-width} {
    min-width: 400px;
  }
}

.header__user-nav--opened {
  --mobile-menu-icon: url("../../icons/cross-mobile.svg");
}

.header__user-nav--closed + .header__catalog-nav {
  @media #{$mobile-only} {
    display: none;
  }
}

.header__user-nav--opened + .header__catalog-nav {
  @media #{$mobile-only} {
    position: absolute;
    top: 61px;
    left: 0;
    width: 100%;
  }
}
