.hero {
  transition: background-color 0.5s;
}

.hero--1 {
  background-color: $slider-flat-white;
}

.hero--2 {
  background-color: $slider-lavender;
}

.hero--3 {
  background-color: $slider-espresso;
}
