.htmlacademy__link {
  --icon-fill: #{$grey-basic};
  --text-color: #{$grey-basic};

  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--text-color);
  text-decoration: none;

  &:focus-visible,
  &:hover {
    --icon-fill: #{$accent-primary};
    --text-color: #{$accent-primary};
  }

  &:active {
    --icon-fill: #{$accent-dark};
    --bg-color: #{$accent-dark};
  }
}

.htmlacademy__logo {
  fill: var(--icon-fill);
}
