.input-text__input {
  appearance: textfield;
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  height: 40px;
  padding: 8px 10px;
  font-family: $primary-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $text-basic;
  background-color: $white;
  border: 2px solid $accent-primary;
  border-radius: 4px;
  outline: none;
  cursor: pointer;

  &::placeholder {
    color: $grey-basic;
  }

  &:focus-visible,
  &:hover {
    border: 2px solid $accent-dark;
  }

  &:invalid:not(:placeholder-shown) {
    outline: 2px solid #ff8282;
  }

  &:disabled {
    pointer-events: none;
    color: $grey-basic;
    background-color: $grey-light;
    border: 2px solid $grey-middle;
  }
}

.input-text__input::-webkit-outer-spin-button,
.input-text__input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
