.pagination {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;

  @media #{$tablet-width} {
    justify-content: flex-end;
  }
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination__link {
  box-sizing: border-box;
  display: block;
  min-width: 40px;
  min-height: 40px;
  padding: 5px;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: $accent-primary;
  text-decoration: none;
  background-color: $white;
  border-radius: 4px;
}

.pagination__link--current {
  font-weight: 600;
  color: $text-basic;
}

.pagination__button {
  display: block;
  text-decoration: none;
  background-color: $white;
  border-radius: 4px;
  color: $accent-primary;

  @media #{$mobile-only} {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    transform: rotate(90deg);
  }
}

.pagination__button--next {
  @media #{$mobile-only} {
    transform: rotate(-90deg);
  }
}

.pagination__icon {
  flex-shrink: 0;
  fill: $accent-primary;

  @media #{$tablet-width} {
    display: none;
  }
}

.pagination__button:focus-visible .pagination__icon,
.pagination__button:hover .pagination__icon,
.pagination__button:active .pagination__icon {
  fill: $white;
}

.pagination__button-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  @media #{$mobile-only} {
    display: none;
  }
}

.pagination__button--hidden {
  visibility: hidden;
}
