.pagination {
  display: flex;
  gap: 20px;
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination__link {
  display: block;
  min-width: 40px;
  height: 40px;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  color: var(--accent-primary);
  text-decoration: none;
  background-color: var(--white);
  border-radius: 4px;
}

.pagination__button {
  display: block;
  text-decoration: none;
  background-color: var(--white);
  border-radius: 4px;

  @media #{$mobile-only} {
    width: 40px;
    height: 40px;
    background-image: url("../../icons/select-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px 10px;
    transform: rotate(90deg);
  }
}

.pagination__button--next {
  @media #{$mobile-only} {
    transform: rotate(-90deg);
  }
}

.pagination__button-text {
  @media #{$mobile-only} {
    display: none;
  }
}
