.range__container {
  width: 280px;
  height: 24px;
  background-color: $accent-primary;
  margin-bottom: 24px;

  @media #{$tablet-width} {
    width: 100%;
    margin-bottom: 20px;
  }

  @media #{$desktop-width} {
    margin-bottom: 22px;
  }
}

.range__inputs {
  display: grid;
  grid-template-columns: 1fr 8px 1fr;
  align-items: center;
  gap: 18px;
  max-width: 320px;

  @media #{$tablet-width} {
    gap: 20px;
  }

  &::before {
    grid-area: 1 / 2 / 2 / 3;
    content: "";
    width: 8px;
    height: 2px;
    background-color: $grey-basic;
  }
}
