.slider {
  --liner-height: 188px;

  position: relative;
  overflow: hidden;

  @media #{$desktop-width} {
    margin: 0 auto;
    max-width: $max-content-width;
  }
}

.slider::after {
  @media #{$tablet-only} {
    content: "";
    width: 100%;
    height: var(--liner-height);
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $white;
  }
}

.slider__button {
  --icon-fill: #{$accent-primary};

  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  padding: 0;
  width: 20px;
  height: 100%;
  background-color: transparent;
  border: none;
  z-index: 2;
  cursor: pointer;

  @media #{$tablet-width} {
    width: 80px;
    height: calc(100% - var(--liner-height));
  }

  @media #{$desktop-width} {
    height: 100%;
  }

  &:focus-visible,
  &:hover {
    background-image: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:active {
    background-image: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
  }

  &:disabled {
    --icon-fill: #{$grey-basic};
    background: none;
    cursor: default;
  }
}

.slider__button--prev {
  left: 0;
}

.slider__button--next {
  right: 0;
  transform: rotate(180deg);
}

.slider__icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-fill);
}

.slider__list {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
  z-index: 1;
  transition: transform 1s;
}

.slider__item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  align-items: center;
  text-align: center;
  padding: 20px 20px 60px;

  @media #{$tablet-width} {
    padding: 60px 20px 0;
  }

  @media #{$desktop-width} {
    flex-direction: row;
    max-width: 1440px;
    gap: 30px;
    padding: 30px 80px 60px 90px;
    text-align: left;
  }
}

.slider__image-container {
  display: block;
  margin-bottom: 10px;
  width: 280px;
  height: 280px;

  @media #{$tablet-only} {
    order: 1;
  }

  @media #{$tablet-width} {
    margin-bottom: 0;
    width: 476px;
    height: 476px;
  }

  @media #{$desktop-width} {
    width: 600px;
    height: 600px;
  }
}

.slider__image {
  object-fit: contain;
  position: relative;
  display: block;
  z-index: 1;

  @media #{$tablet-width} {
    width: 476px;
    height: 476px;
  }

  @media #{$desktop-width} {
    width: 600px;
    height: 600px;
  }
}

.slider__content {
  @media #{$tablet-only} {
    max-width: 90%;
  }
}

.slider__info {
  margin: 0 0 4px;
  text-align: center;

  @media #{$desktop-width} {
    text-align: left;
  }
}

.slider__title {
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
  text-align: center;
  color: $text-basic;

  @media #{$tablet-width} {
    margin: 0 0 16px;
    font-size: 56px;
    line-height: 80px;
  }

  @media #{$desktop-width} {
    text-align: left;
  }
}

.slider__description {
  margin: 0 auto 20px;
  max-width: 500px;

  @media #{$tablet-width} {
    max-width: 610px;
  }

  @media #{$desktop-width} {
    margin: 0 auto 40px;
  }
}

.slider__order-container {
  display: flex;
  align-items: center;
  justify-content: center;

  @media #{$tablet-width} {
    margin-bottom: 20px;
  }

  @media #{$desktop-width} {
    justify-content: flex-start;
    margin: 0 0 10px;
  }
}

.slider__old-price {
  margin: 0 6px 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-decoration: line-through;
  color: $accent-primary;
}

.slider__actual-price {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  color: $text-basic;
}

.slider__button-order {
  margin-left: 20px;
}

.slider__pagination {
  display: none;

  @media #{$desktop-width} {
    display: flex;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 800px;
    justify-content: center;
    transform: translateY(-60px);
  }
}
