.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media #{$tablet-only} {
    max-width: 500px;
  }

  @media #{$desktop-width} {
    justify-content: flex-start;
  }
}

.social__link {
  --icon-fill: #{$grey-basic};
  --bg-color: transparent;

  position: relative;
  display: block;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 4px;
  background-color: var(--bg-color);
  transition: background-color 0.3s;

  &:focus-visible,
  &:hover {
    --icon-fill: #{$accent-primary};
    --bg-color: #{$accent-light};
  }

  &:active {
    --icon-fill: #{$accent-primary};
    --bg-color: #{$accent-opacity};
  }
}

.social__icon {
  position: absolute;
  width: 22px;
  height: 22px;
  inset: 0;
  margin: auto;
  fill: var(--icon-fill);
  transition: fill 0.3s;
}
